<div class="container-md" *ngIf="user">
  <form class="row mt-4 mb-4 bg-secondary p-2 text-dark bg-opacity-10 rounded" [formGroup]="integrantesForm" (ngSubmit)="onSubmit()">
    <h3 class="mt-4 mb-4">Listado de integrantes</h3>
    <div class="col-md-3">
      <label for="Nombre" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="Nombre" formControlName="Nombre">
    </div>
    <div class="col-md-3">
      <label for="Apellido" class="form-label">Apellido</label>
      <input type="text" class="form-control" id="Apellido" formControlName="Apellido">
    </div>
    <div class="col-12 mt-4 mb-4">
      <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
  </form>
  <div class="row ps-2 pe-2" *ngIf="integrantes">
    <div *ngIf="integrantes.length > 0">
      <table class="table mt-4 mb-4">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Fecha Nacimiento</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let integrante of integrantes">
            <th scope="row">{{ integrante.Id }}</th>
            <td scope="row">{{ integrante.Nombre }}</td>
            <td scope="row">{{ integrante.Apellido }}</td>
            <td scope="row">{{ integrante.FechaNacimiento | date: 'dd/MM/yyyy' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row ps-2 pe-2" *ngIf="integrantes.length <= 0">
      <h3 class="mt-4 mb-4">No se encontraron resultados</h3>
    </div>
  </div>
</div>
