<div class="container-md">
  <form class="row mt-4 mb-4 bg-secondary p-2 text-dark bg-opacity-10 rounded" [formGroup]="bandasForm" (ngSubmit)="onSubmit()">
    <h3 class="mt-4 mb-4">Listado de bandas</h3>
    <div class="col-md-3">
      <label for="Nombre" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="Nombre" formControlName="Nombre">
    </div>
    <div class="col-md-3">
      <label for="GeneroMusical" class="form-label">Género</label>
      <input type="text" class="form-control" id="GeneroMusical" formControlName="GeneroMusical">
    </div>
    <div class="col-12 mt-4 mb-4">
      <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
  </form>
  <div class="row ps-2 pe-2" *ngIf="showBandas && bandas">
    <div *ngIf="bandas.length > 0">
      <table class="table mt-4 mb-4">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Género</th>
            <th scope="col">Año</th>
            <th scope="col">Separación</th>
            <th scope="col">Calificar</th>
            <th scope="col">Integrantes</th>
            <th scope="col">Albumes</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let banda of bandas">
            <th scope="row">{{ banda.Id }}</th>
            <td scope="row">{{ banda.Nombre }}</td>
            <td scope="row"> {{ banda.GeneroMusical }}</td>
            <td scope="row">{{ banda.AnioCreacion }}</td>
            <td scope="row">{{ banda.AnioSeparacion }}</td>
            <td>
              <a (click)="openCalificacion(banda)" class="button fancy-button">
                <span class="fa fa-star checked text-warning"></span>
              </a>
            </td>
            <td>
              <a (click)="openIntegrantes(banda)" class="button fancy-button">
                <span class="fa fa-user checked text-primary"></span>
              </a>
            </td>
            <td>
              <a (click)="openAlbumes(banda)" class="button fancy-button">
                <span class="fa fa-folder-open checked text-success"></span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row ps-2 pe-2" *ngIf="bandas.length <= 0">
      <h3 class="mt-4 mb-4">No se encontraron resultados</h3>
    </div>
  </div>
  <form class="row mt-4 mb-4 bg-secondary p-2 text-dark bg-opacity-10 rounded" [formGroup]="calificacionForm" (ngSubmit)="onSubmitCalificacion()" *ngIf="showCalificacion">
    <div class="row mt-4 mb-4">
      <h3 class="col-11">{{ editar ? "Tu calificación fue:" : banda.Nombre }}</h3>
      <div class="col-1">
        <button type="button" class="btn-close float-end" aria-label="Close" (click)="closeCalificacion()"></button>
      </div>
    </div>
    <div class="row ps-2 pe-2" *ngIf="mensaje">
      <span class="mt-2 mb-2">{{mensaje}}</span>
    </div>
    <div class="col-md-12">
      <label for="Puntaje">Puntaje del 1 al 5</label>
      <input type="text" maxlength=1 pattern="^(1|2|3|4|5)$" class="form-control" id="Puntaje" formControlName="Puntaje" pattern="[1-5.]+">
      <label for="Comentario">Comentario</label>
      <textarea class="form-control" id="Comentario" rows="3" formControlName="Comentario"></textarea>
      <div class="col-12 mt-4 mb-4">
        <button type="submit" class="btn btn-primary">{{ editar ? "Editar" : "Alta" }}</button>
      </div>
    </div>
  </form>
  <div class="row ps-2 pe-2" *ngIf="showIntegrantes && integrantes">
    <div *ngIf="integrantes.length > 0">
      <table class="table mt-4 mb-4">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Fecha Nacimiento</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let integrante of integrantes">
            <th scope="row">{{ integrante.Id }}</th>
            <td scope="row">{{ integrante.Nombre }}</td>
            <td scope="row">{{ integrante.Apellido }}</td>
            <td scope="row">{{ integrante.FechaNacimiento }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row ps-2 pe-2" *ngIf="integrantes.length <= 0">
      <h3 class="mt-4 mb-4">No se encontraron integrantes</h3>
    </div>
  </div>
  <div class="row ps-2 pe-2" *ngIf="showAlbumes && albumes">
    <div *ngIf="albumes.length > 0">
      <table class="table mt-4 mb-4">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Género</th>
            <th scope="col">Año</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let album of albumes">
            <th scope="row">{{ album.Id }}</th>
            <td scope="row">{{ album.Nombre }}</td>
            <td scope="row">{{ album.GeneroMusical }}</td>
            <td scope="row">{{ album.AnioCreacion }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row ps-2 pe-2" *ngIf="albumes.length <= 0">
      <h3 class="mt-4 mb-4">No se encontraron albumes</h3>
    </div>
  </div>
</div>
