<div class="container-md">
  <form class="row" [formGroup]="bandasForm" (ngSubmit)="onSubmit()">
    <h3 class="mt-4 mb-4">Listado de bandas</h3>
    <div class="col-md-3">
      <label for="Nombre" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="Nombre" formControlName="Nombre">
    </div>
    <div class="col-md-3">
      <label for="GeneroMusical" class="form-label">Género</label>
      <input type="text" class="form-control" id="GeneroMusical" formControlName="GeneroMusical">
    </div>
    <div class="col-12 mt-4 mb-4">
      <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
  </form>
  <div class="row ps-2 pe-2" *ngIf="bandas">
    <div *ngIf="bandas.length > 0">
      <table class="table mt-4 mb-4">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Género</th>
            <th scope="col">Año</th>
            <th scope="col">Separación</th>
            <th scope="col">Calificar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let banda of bandas">
            <th scope="row">{{ banda.Id }}</th>
            <th scope="row">{{ banda.Nombre }}</th>
            <td> {{ banda.GeneroMusical }}</td>
            <td>{{ banda.AnioCreacion }}</td>
            <td>{{ banda.AnioSeparacion }}</td>
            <td>
              <a (click)="open()" class="button fancy-button">
                <span class="fa fa-star checked"></span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row ps-2 pe-2" *ngIf="bandas.length <= 0">
      <h3 class="mt-4 mb-4">No se encontraron resultados</h3>
    </div>
  </div>
</div>
