<!--
  <a routerLink="/">
  <h1>My Spotify</h1>
</a>
<a routerLink="/login" class="button fancy-button">
  <i class="material-icons">shopping_cart</i>Login
</a>

-->

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngFor="let nav of menu">
          <a class="nav-link" [class.active]="nav.Activo" aria-current="page" routerLink="{{nav.Link}}" (click)="onChange(nav.Link)">
          {{nav.Titulo}}
          </a>
        </li>
      </ul>
      <form class="d-flex" role="login">
        <button class="btn btn-outline-success" type="submit">Login</button>
      </form>
    </div>
  </div>
</nav>
