<div class="container-md">
  <form class="row" [formGroup]="albumesForm" (ngSubmit)="onSubmit()">
    <h3 class="mt-4 mb-4">Listado de álbumes</h3>
    <div class="col-md-3">
      <label for="Nombre" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="Nombre" formControlName="Nombre">
    </div>
    <div class="col-md-3">
      <label for="AnioCreacion" class="form-label">Año</label>
      <input type="text" class="form-control" id="AnioCreacion" formControlName="AnioCreacion">
    </div>
    <div class="col-md-3">
      <label for="GeneroMusical" class="form-label">Género</label>
      <input type="text" class="form-control" id="GeneroMusical" formControlName="GeneroMusical">
    </div>
    <div class="col-12 mt-4 mb-4">
      <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
  </form>
  <div class="row ps-2 pe-2" *ngIf="albumes">
    <div *ngIf="albumes.length > 0">
      <table class="table mt-4 mb-4">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Género</th>
            <th scope="col">Año</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let album of albumes">
            <th scope="row">{{ album.Nombre }}</th>
            <th scope="row">{{ album.GeneroMusical }}</th>
            <td scope="row">{{ album.AnioCreacion }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row ps-2 pe-2" *ngIf="albumes.length <= 0">
      <h3 class="mt-4 mb-4">No se encontraron resultados</h3>
    </div>
  </div>
</div>
