<div class="container-md">
  <form class="row mt-4 mb-4 bg-secondary p-2 text-dark bg-opacity-10 rounded" [formGroup]="cancionesForm" (ngSubmit)="onSubmit()">
    <h3 class="mt-4 mb-4">Listado de canciones</h3>
    <div class="col-md-3">
      <label for="Nombre" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="Nombre" formControlName="Nombre">
    </div>
    <div class="col-md-3">
      <label for="GeneroMusical" class="form-label">Género</label>
      <input type="text" class="form-control" id="GeneroMusical" formControlName="GeneroMusical">
    </div>
    <div class="col-md-3">
      <label for="Anio" class="form-label">Año</label>
      <input type="text" class="form-control" id="Anio" formControlName="Anio">
    </div>
    <div class="col-12 mt-4 mb-4">
      <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
  </form>
  <div class="row ps-2 pe-2" *ngIf="canciones">
    <div *ngIf="canciones.length > 0">
      <table class="table mt-4 mb-4">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Género</th>
            <th scope="col">Duración</th>
            <th scope="col">Año</th>
            <th scope="col">Calificar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cancion of canciones">
            <th scope="row">{{ cancion.Id }}</th>
            <td scope="row">{{ cancion.Nombre }}</td>
            <td scope="row">{{ cancion.GeneroMusical }}</td>
            <td scope="row"> {{ cancion.Duracion }}</td>
            <td scope="row">{{ cancion.Anio }}</td>
            <td>
              <a (click)="open(cancion)" class="button fancy-button">
                <span class="fa fa-star checked text-warning"></span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row ps-2 pe-2" *ngIf="canciones.length <= 0">
      <h3 class="mt-4 mb-4">No se encontraron resultados</h3>
    </div>
  </div>
  <form class="row mt-4 mb-4 bg-secondary p-2 text-dark bg-opacity-10 rounded" [formGroup]="calificacionForm" (ngSubmit)="onSubmitCalificacion()" *ngIf="show">
    <div class="row mt-4 mb-4">
      <h3 class="col-11">{{ editar ? "Tu calificación fue:" : cancion.Nombre }}</h3>
      <div class="col-1">
        <button type="button" class="btn-close float-end" aria-label="Close" (click)="close()"></button>
      </div>
    </div>
    <div class="row ps-2 pe-2" *ngIf="mensaje">
      <span class="mt-2 mb-2">{{mensaje}}</span>
    </div>
    <div class="col-md-12">
      <label for="Puntaje">Puntaje del 1 al 5</label>
      <input type="number" class="form-control" id="Puntaje" formControlName="Puntaje" min="1" max="5">
      <label for="Comentario">Comentario</label>
      <textarea class="form-control" id="Comentario" rows="3" formControlName="Comentario"></textarea>
      <div class="col-12 mt-4 mb-4">
        <button type="submit" class="btn btn-primary">{{ editar ? "Editar" : "Alta" }}</button>
      </div>
    </div>
  </form>
</div>
